{% extends 'base_ta.html' %}
{% block content %}
{% load static %}
<!-- Preloader -->
<div id="mask">
  <div id="loader">
  </div>
</div>
<!-- End Preloader -->

<!-- Home Section -->
<div id="home">
</div>

<!-- End Home Section -->

<!-- Header -->
<header class="navbar navbar-default topnav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'escuela:escuela' %}" id="logo"></a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right" id="nav">
        <li class="active"><a href="#home">Inicio</a></li>
        <li><a href="#about">Programa</a></li>
        <li><a href="#team">Facilitadores</a></li>
        <li><a href="#services">Cursos</a></li>
        <li><a href="#contact">Contacto</a></li>
      </ul>
    </div>
  </div>
</header>
<!-- End Header -->

<!-- About Section -->
<section id="about" class="section">
  <div class="container">
    <div class="title col-md-8 col-sm-10 col-xs-12">
      <h1>Programa<strong> Especialización</strong></h1>
      <hr>
    </div>
    <!-- About Text -->
    <p class="about-text">Teatro Escuela y La Balanza Teatro, colaboran en este programa que explora
    las posibilidades que tiene el teatro y las artes escénicas como vehículos de desarrollo, rehabilitación y transformación social.</p>
    <!-- About Text -->
    <div class="promo-line">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="row">
          <div class="promo right animated hiding" data-animation="fadeInLeft">
            <div class="col-md-2 col-sm-3 promo-icon-box">
              <div class="promo-icon">
                <i class="fa fa-user fa-2x"></i>
              </div>
            </div>
            <div class="col-md-10 col-sm-9">
              <h4>Descripción</h4>
              <p align="justify">El Programa de Teatro Aplicado en Salud, busca desarrollar en sus participantes habilidades para
ejecutar técnicas dramáticas que beneficien a una gran variedad de grupos sociales, principalmente en las áreas de la educación y salud.<br>
Mediante metodologías variadas y con la participación de diversos docentes, el programa permitirá que los estudiantes
conozcan diversas teorías y prácticas de teatro aplicado, y las proyecten en sus propios entornos laborales o áreas de interés.
Este programa, integra técnicas y prácticas de la pedagogía teatral al diseño curricular del participante, con el objetivo de enriquecer sus prácticas pedagógicas
y así impactar los resultados de aprendizaje.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="row">
          <div class="promo animated hiding" data-animation="fadeInRight">
            <div class="col-md-2 col-sm-3 promo-icon-box">
              <div class="promo-icon">
                <i class="fa fa-bullseye fa-2x"></i>
              </div>
            </div>
            <div class="col-md-10 col-sm-9">
              <h4>Objetivos</h4>
              <p align="justify">Comprender, analizar e implementar el marco teórico y práctico del teatro aplicado, como metodología activa en el contexto
                de su desarrollo profesional.<br>
Elaborar y poner en práctica variadas estrategias dramáticas desde el enfoque pedagógico teatral.<br>
Comprender y ejecutar el rol de facilitador en forma flexible, desarrollando capacidades para liderar y realizar una sesión de teatro aplicado.<br>
Evaluar e implementar juegos, ejercicios y actividades dramáticas apropiadas para utilizar con participantes con ninguna o escasa experiencia teatral
</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="promo-line">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="row">
          <div class="promo right animated hiding" data-animation="fadeInLeft">
            <div class="col-md-2 col-sm-3 promo-icon-box">
              <div class="promo-icon">
                <i class="fa fa-gears fa-2x"></i>
              </div>
            </div>
            <div class="col-md-10 col-sm-9">
              <h4>Metodología</h4>
              <p align="justify">6 sesiones, correspondientes a 24 horas cronológicas, compuestas cada una, por 2 horas sincrónicas
(sesión virtual de transmisión en vivo) y 2 horas asincrónicas (cápsula virtual grabada y ejercicio de aplicación).
Planificación, seguimiento y evaluación de trabajos finales individuales y/o grupales. Certificación individual.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="row">
          <div class="promo animated hiding" data-animation="fadeInRight">
            <div class="col-md-2 col-sm-3 promo-icon-box">
              <div class="promo-icon">
                <i class="fa fa-heart fa-2x"></i>
              </div>
            </div>
            <div class="col-md-10 col-sm-9">
              <h4>Dirigido</h4>
              <p align="justify">Pedagógos/as teatrales, actores y actrices.<br>
Profesores/as de danza, artes visuales y musicales, profesores de enseñanza básica y media, de educación especial, educadores/as de párvulos.<br>
Psicólogo/as, terapeutas, trabajadores y asistentes sociales<br>
Monitores/as populares y culturales.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<!-- Team Section -->
<section id="team" class="section">
  <div class="container">
    <div class="title col-md-8 col-sm-10 col-xs-12">
      <h1>Equipo <strong>Facilitador</strong></h1>
      <hr>
      <p>El cuerpo docente del Programa, está conformado por:</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="team animated hiding" data-animation="fadeInUp" data-delay="0">
        <div class="team-photo">
          <img src="{% static 'assets/images/team/balanza_1.png' %}" alt="">
          <div class="team-overlay">
            <p align="justify">Actriz, Directora y Pedagóga Teatral de la PUC. Magíster en Dirección y Gestión Escolar de Calidad, UDD.
Gestora y Directora de la Compañía “La Balanza: Teatro y Educación”.
Entre sus publicaciones destacan: “Pedagogía Teatral: metodología activa en el aula”, “Manual de Pedagogía Teatral”.
           </p>

           <ul class="social-list">
             <li>
               <a href="https://labalanzateatro.com/" target="_blank">
                 <span class="social-icon google-plus">
                   <i class="fa fa-desktop"></i>
                 </span>
               </a>
             </li>
           </ul>

            <!-- <ul class="social-list">
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <span class="social-icon facebook">
                    <i class="fa fa-facebook"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <span class="social-icon twitter">
                    <i class="fa fa-twitter"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://plus.google.com/" target="_blank">
                  <span class="social-icon google-plus">
                    <i class="fa fa-google-plus"></i>
                  </span>
                </a>
              </li>
            </ul> -->
          </div>
        </div>
        <div class="team-inner">
          <h3>Verónica García H.</h3>
          <p>Coordinadora del Programa</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="team animated hiding" data-animation="fadeInUp" data-delay="1500">
        <div class="team-photo">
          <img src="{% static 'assets/images/team/balanza_2.png' %}" alt="">
          <div class="team-overlay">
            <p>Es Actriz de la Escuela Teatro Imagen de Gustavo Meza, Dramaturga y Pedagóga Teatral.
Actualmente es gestora, dramaturga y pedagoga de la Compañía “La Balanza: Teatro y Educación”.
Cuenta con plataformas virtuales destinadas a potenciar y desarrollar el Teatro Aplicado en la Educación, a través del Canal de YouTube.
</p>
          <ul class="social-list">
            <li>
              <a href="https://www.youtube.com/channel/UCUmCcykGMHl_QtY_bU0GD-g" target="_blank">
                <span class="social-icon google-plus">
                  <i class="fa fa-youtube"></i>
                </span>
              </a>
            </li>
          </ul>
            <!-- <ul class="social-list">
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <span class="social-icon facebook">
                    <i class="fa fa-facebook"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <span class="social-icon twitter">
                    <i class="fa fa-twitter"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://plus.google.com/" target="_blank">
                  <span class="social-icon google-plus">
                    <i class="fa fa-google-plus"></i>
                  </span>
                </a>
              </li>
            </ul> -->
          </div>
        </div>
        <div class="team-inner">
          <h3>Luna del Canto Fariña</h3>
          <p>Introducción al Programa</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="team animated hiding" data-animation="fadeInUp" data-delay="1500">
        <div class="team-photo">
          <img src="{% static 'assets/images/team/balanza_3.png' %}" alt="">
          <div class="team-overlay">
            <p>Psicóloga U. de Chile, Magíster en Artes mención Teatro UC, Pedagóga Teatral, Actriz con estudios en Escuela Internacional del Gesto y la Imagen, "La Mancha".
Profesional con perfil interdisciplinario que se desempeña en la intersección disciplinaria entre la Psicología, el Arte y la Educación. Con trayectoria a nivel de creación artística,
docencia, intervención psicosocial y sociocomunitaria a través de las artes, pedagogía teatral, capacitación y relatoría.
            </p>


            <!-- <ul class="social-list">
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <span class="social-icon facebook">
                    <i class="fa fa-facebook"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <span class="social-icon twitter">
                    <i class="fa fa-twitter"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://plus.google.com/" target="_blank">
                  <span class="social-icon google-plus">
                    <i class="fa fa-google-plus"></i>
                  </span>
                </a>
              </li>
            </ul> -->
          </div>
        </div>
        <div class="team-inner">
          <h3>Paola Abatte Herrera</h3>
          <p>Dimensión Terapeútica de la Pedagogía Teatral</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="team animated hiding" data-animation="fadeInUp" data-delay="1000">
        <div class="team-photo">
          <img src="{% static 'assets/images/team/balanza_4.png' %}"  alt="">
          <div class="team-overlay">
            <p>Actor de la PUC. Magíster en Desarrollo Cognitivo, mención en Evaluación Dinámica de la Propensión al Aprendizaje, UDP- ICELP Feuerstein Institute, Israel.
Minor en Psicología Evolutiva Universidad Pontificia de Salamanca, Salamanca- España. Arte- terapeuta especialista en Desarrollo Cognitivo en el Centro UC Síndrome de Down.
Académico y docente universitario en el área de Inclusión Educativa y Desarrollo Cognitivo.
              </p>
            <!-- <ul class="social-list">
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <span class="social-icon facebook">
                    <i class="fa fa-facebook"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <span class="social-icon twitter">
                    <i class="fa fa-twitter"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://plus.google.com/" target="_blank">
                  <span class="social-icon google-plus">
                    <i class="fa fa-google-plus"></i>
                  </span>
                </a>
              </li>
            </ul> -->
          </div>
        </div>
        <div class="team-inner">
          <h3>Víctor Romero Rojas</h3>
          <p>Teatro y Síndrome de Down</p>
        </div>
      </div>
    </div>


    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="team animated hiding" data-animation="fadeInUp" data-delay="1500">
        <div class="team-photo">
          <img src="{% static 'assets/images/team/balanza_5.png' %}" alt="">
          <div class="team-overlay">
            <p> Es directora artística y fundadora de Teatro Niña Imaginaria, Actriz de La Mancha, Diplomada en Pedagogía Teatral,
Teatro Aplicado y Fotografía Digital en la Pontifica Universidad Católica. Trabaja en formación docente, compartiendo didáctica teatral para mediación
de la lectura y técnicas de teatro aplicadas en educación. Socia-colaboradora de la Compañía la Balanza, Teatro y Educación.
</p>
            <!-- <ul class="social-list">
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <span class="social-icon facebook">
                    <i class="fa fa-facebook"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <span class="social-icon twitter">
                    <i class="fa fa-twitter"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://plus.google.com/" target="_blank">
                  <span class="social-icon google-plus">
                    <i class="fa fa-google-plus"></i>
                  </span>
                </a>
              </li>
            </ul> -->
          </div>
        </div>
        <div class="team-inner">
          <h3>Diana Fraczinet Cristi</h3>
          <p>Técnicas de Teatro Aplicado en Educación</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="team animated hiding" data-animation="fadeInUp" data-delay="1500">
        <div class="team-photo">
          <img src="{% static 'assets/images/team/balanza_6.png' %}" alt="">
          <div class="team-overlay">
            <p>Es actriz y pedagoga teatral, facilitadora de desarrollo personal y Magister en Educación.
Egresa  de la Escuela de Teatro UC el año 1987 con la obra el Rey se Muere dirigida por Willy Semler.
            </p>
            <!-- <ul class="social-list">
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <span class="social-icon facebook">
                    <i class="fa fa-facebook"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <span class="social-icon twitter">
                    <i class="fa fa-twitter"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="https://plus.google.com/" target="_blank">
                  <span class="social-icon google-plus">
                    <i class="fa fa-google-plus"></i>
                  </span>
                </a>
              </li>
            </ul> -->
          </div>
        </div>
        <div class="team-inner">
          <h3>Yani Núñez</h3>
          <p>Teatro Espontáneo</p>
        </div>
      </div>
    </div>
</div>
</section>
<!-- End Team Section -->

<!-- Numbers Section -->
<section id="numbers" class="parallax">
  <div class="parallax-overlay">
    <div class="container">
      <h4 class="center up">Metodogía</h4>
      <div class="col-md-4 col-sm-3 col-xs-6">
        <span class="counter animated hiding" data-animation="fadeInDown" data-delay="0">
          <i class="fa fa-book fa-4x"></i>
          <span class="value" data-from="0" data-to="12">12</span>
          <small>Horas cronólogicas sincrónicas</small>
        </span>
      </div>
      <div class="col-md-4 col-sm-3 col-xs-6">
        <span class="counter animated hiding" data-animation="fadeInDown" data-delay="500">
          <i class="fa fa-home fa-4x"></i>
          <span class="value" data-from="0" data-to="12">12</span>
          <small>Horas cronólogicas asincrónicas</small>
        </span>
      </div>
      <div class="col-md-4 col-sm-3 col-xs-6">
        <span class="counter animated hiding" data-animation="fadeInDown" data-delay="1000">
          <i class="fa fa-comments fa-4x"></i>
          <span class="value" data-from="0" data-to="1">1</span>
          <small>Trabajo individuales y/o grupal</small>
        </span>
      </div>
    </div>
  </div>
</section>
<!-- End Numbers Section -->

<!-- Services Section -->
<section id="services" class="section">
  <div class="container">
    <div class="title col-md-8 col-sm-10 col-xs-12">
      <h1><strong>Cursos</strong></h1>
      <hr>
      <p>Este programa se compone de los siguientes cursos:</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 service-box">
      <div class="service animated hiding" data-animation="fadeInUp" data-delay="0">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-2x fa-stack-2x"></i>
          <i class="fa fa-leaf fa-stack-1x service-icon"></i>
        </span>
        <h3>Introducción al Teatro Aplicado en Salud</h3>
        <p></p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 service-box">
      <div class="service animated hiding" data-animation="fadeInUp" data-delay="500">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-2x fa-stack-2x"></i>
          <i class="fa fa-briefcase fa-stack-1x service-icon"></i>
        </span>
        <h3>Dimensión Terapéutica de la Pedagogía Teatral</h3>
        <p></p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 service-box">
      <div class="service animated hiding" data-animation="fadeInUp" data-delay="1000">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-2x fa-stack-2x"></i>
          <i class="fa fa-flask fa-stack-1x service-icon"></i>
        </span>
        <h3>Teatro Y Síndrome de Down</h3>
        <p></p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 service-box">
      <div class="service animated hiding" data-animation="fadeInUp" data-delay="1500">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-2x fa-stack-2x"></i>
            <i class="fa fa-gittip fa-stack-1x service-icon"></i>
        </span>
        <h3>Técnicas de Teatro Aplicado en Eduación</h3>
        <p>
       </p>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 service-box">
      <div class="service animated hiding" data-animation="fadeInUp" data-delay="1500">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-2x fa-stack-2x"></i>
          <i class="fa fa-users fa-stack-1x service-icon"></i>
        </span>
        <h3>Teatro Espontáneo</h3>
        <p></p>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12 service-box">
      <div class="service animated hiding" data-animation="fadeInUp" data-delay="1500">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-2x fa-stack-2x"></i>
          <i class="fa fa-users fa-stack-1x service-icon"></i>
        </span>
        <h3>Valoración Taller de Aplicación</h3>
        <p></p>
      </div>
    </div>


  </div>
</section>
<!-- End Services Section -->

<!-- Portfolio Section -->
<!-- <section id="portfolio" class="section">
  <div class="container">
    <div class="title col-md-8 col-sm-10 col-xs-12">
      <h1>Portafolio</h1>
      <hr>
      <p>Encuéntranos en nuestras redes</p>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <iframe width="320" height="490" src="https://www.instagram.com/p/CCFX6BdJ_7I/embed" frameborder="0"></iframe>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <iframe width="320" height="490" src="https://www.instagram.com/p/CCFeMllJGSU/embed" frameborder="0"></iframe>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <iframe width="320" height="490" src="https://www.instagram.com/p/CCFgozIJgNC/embed" frameborder="0"></iframe>
      </div>
    </div>
    <div class="row" style="padding-top:20px">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <iframe width="320" height="490" src="https://www.instagram.com/p/CAvzmDUpzJM/embed" frameborder="0"></iframe>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <iframe width="320" height="490" src="https://www.instagram.com/p/CBRmyhsJQLM/embed" frameborder="0"></iframe>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <iframe width="320" height="490" src="https://www.instagram.com/p/B_ifNR2JCYD/embed" frameborder="0"></iframe>
      </div>
    </div>
    <div class="row" style="padding-top:20px">
    </div>
  </div>
</section> -->

<section id="clients" class="section">
  <!-- Testimonials -->
  <!-- <div id="testimonials" class="parallax">
    <div class="parallax-overlay">
      <div class="container">
        <h1>What our clients say</h1>
        <hr>
        <div class="testimonials-slider animated hiding" data-animation="fadeInUp">
          <ul class="slides">
            <li>
              <img src="images/testimonials/1.jpg" alt="">
              <p class="client-comment">"This template is very nice! Great work"</p>
              <p class="client-name">Jasmine - Virtual Inc.</p>
            </li>
            <li>
              <img src="images/testimonials/2.jpg" alt="">
              <p class="client-comment">"I love this template! Congratulations!"</p>
              <p class="client-name">Erick - Social Group</p>
            </li>
            <li>
              <img src="images/testimonials/3.jpg" alt="">
              <p class="client-comment">"This template is perfect. Thanks!"</p>
              <p class="client-name">Lisa - Mosbius Design</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
  <!-- End Testimonials -->
  <div class="container">
    <!-- Clients Carousel -->
    <!-- <div id="clients-carousel" class="owl-carousel">
      <div class="item"><img src="images/clients/logo1.png" alt=""></div>
      <div class="item"><img src="images/clients/logo2.png" alt=""></div>
      <div class="item"><img src="images/clients/logo3.png" alt=""></div>
      <div class="item"><img src="images/clients/logo4.png" alt=""></div>
      <div class="item"><img src="images/clients/logo5.png" alt=""></div>
      <div class="item"><img src="images/clients/logo6.png" alt=""></div>
    </div> -->
    <!-- End Clients Carousel -->
  </div>
</section>
<!-- End Clients Section -->

<!-- Begin Contact Section-->
<section id="contact" class="section">
  <div class="container">
    <div class="title col-md-8 col-sm-10 col-xs-12">
      <h1><strong>Contáctanos</strong></h1>
      <hr>
      <p>¿Necesitas saber más sobre este programa?. Escríbenos y te enviaremos información</p>
    </div>
  </div>

  <!-- Map -->
  <!-- <div id="map"></div> -->
  <!-- End Map -->

  <!-- Contact Details -->
  <div class="contact-details">
    <div class="container">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="detail">
          <i class="fa fa-map-marker"></i>
          <span>Agustinas 1817, Santiago</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="detail">
          <i class="fa fa-phone"></i>
          <span>+56 9 63940222</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="detail last">
          <i class="fa fa-envelope"></i>
          <span>admision@teatroescuela.cl</span>
        </div>
      </div>
    </div>
  </div>
  <!-- End Contact Details -->
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <!-- Contact Form -->
      <div id="contact-form">
        <div class="form-sent">
          <div class="alert alert-success">
            <strong>Tú mensaje ha sido enviado!</strong> Gracias por contactanos.
          </div>
        </div>
        <form id="f-admision" action="{% url 'escuela:registrar' %}" role="form" method="post">
          {% csrf_token %}
						<div class="col-md-12">
							<div class="form-group">
								<input id="admin-nombre" name="a-nombre" type="text" class="form-control" placeholder="Nombre">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input id="admin-email" name="a-email"  type="mail" class="form-control" placeholder="Email">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="tel" name="a-phone" class="form-control phone" placeholder="(9) 98765432" id="id_telefono">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea type="text" rows="4" cols="30" id="admin-mensaje" name="a-mensaje" class="form-control" placeholder="Mensaje"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group pull-right">
								<!-- <input type="submit" value="Enviar Mensaje" class="btn btn-primary"> -->
                <input type="submit" class="btn btn-custom up animated fadeInUpBig visible" value="Enviar Mensaje" data-animation="fadeInUpBig">
							</div>
						</div>
				</form>
      </div>
      <!-- End Contact Form -->
    </div>
  </div>
</section>
<!-- End Contact Section-->

<!-- Footer -->
<footer>
  <div class="container">
    <!-- Social Links -->
    <ul class="social-list">
      <li>
        <a href="https://www.instagram.com/teatro.escuela/" target="_blank">
          <span class="social-icon">
            <i class="fa fa-instagram"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://youtube.com/nSUYNoRcZQ1kv8KwaPqK6g" target="_blank">
          <span class="social-icon">
            <i class="fa fa-youtube"></i>
          </span>
        </a>
      </li>
      <!-- <li>
        <a href="https://plus.google.com/" target="_blank">
          <span class="social-icon">
            <i class="fa fa-google-plus"></i>
          </span>
        </a>
      </li> -->
    </ul>
    <!-- End Social Links -->

    <!-- Copyright -->
    <p class="center grey">2020 &copy; Funtes. All rights reserved.</p>
    <!-- End Copyright -->
  </div>
</footer>


<!-- End Footer -->
{% endblock content %}

{% block script %}
<script>
$(document).ready(function() {
    validar_adminision();
});

function validar_adminision() {
  $("#f-admision").validate({
        'rules': {
          'a-nombre': {
              'required': true,
          },
          'a-phone': {
              'required': true,
          },
          'a-email': {
              'required': true,
              'email': true,
          },
					'a-mensaje': {
							'required': true,
					},
        },
        errorPlacement: function(error, element) {
            element.closest(".form-group").find('.container-error').html('')
            error.appendTo(element.closest(".form-group").find('.container-error'));
        },
        submitHandler: function(form) {
            $("#f-admision").ajaxSubmit({
                dataType: 'json',
                beforeSend: function() {
                  loading({
                      active: true,
                      description: 'Enviado información.'
                  })
                },
                success: function(response) {
                  loading({active: false})

                },
                error: function(data, a, t) {
                    loading({active: false})
                }
            });
        }
    });
}
</script>
{% endblock %}
